.link-block {
  text-align: center;
  margin-top: 20px;
}

.required {
  &:after {
    content: "*";
    color: red;
  }
}

body {
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: serif
}

table {
  margin: 20px auto 0;
  text-align: left;
  border-spacing: 0;
  color: #333;
}

thead tr {
  background-color: #e1e1e1
}

th, td {
  padding: 10px;
}

tbody {
  tr:nth-child(even) {
    background-color: #e1e1e1
  }

  tr:nth-child(odd) {
    background-color: #fff
  }
}